name: A Git Scraper!
on:
  schedule:
    - cron: 0 0 * * *
  workflow_dispatch: {}
  push:
    paths:
      - .github/workflows/main.yml
jobs:
  scheduled:
    runs-on: ubuntu-latest
    permissions:
        contents: read
        pages: write  
    steps:
      - name: Check out repo
        uses: actions/checkout@v4 
      - name: setup python
        uses: actions/setup-python@v5
        with:
          python-version: '3.8' # install the python version needed

      - name: install python packages
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run scraper
        run: jupyter execute final_analysis.ipynb
          
      - name: Add and commit
        id: add_commit
        uses: EndBug/add-and-commit@v9
        with:
          committer_name: Automated
          committer_email: actions@users.noreply.github.com
          message: "Latest notebook data"
